python = python2.7
save-exact=true
package-lock=false
always-auth=true
progress=true
prefer-offline=true
unsafe-perm=true
registry=https://registry.npmmirror.com/
disturl=https://npmmirror.com/mirrors/node/
electron-custom-dir=v13.1.8
electron-mirror=https://npmmirror.com/mirrors/electron/
electron-builder-custom-dir=22.11.7
electron-builder-mirror=https://npmmirror.com/mirrors/electron-builder/
electron-notarize-custom-dir=1.1.1
electron-notarize-mirror=https://npmmirror.com/mirrors/electron-notarize/
